.social-button-code .form-type-textarea {
  display: inline-block;
  width: 60%;
}

.social-button-code .preview {
  display: inline-block;
  margin: 20px 5%;
  width: 20%;
  vertical-align: top;
}

.social-buttons .social-button {
  vertical-align: top;
}

.social-buttons .fb-like span {
  vertical-align: initial;
  margin-right: 26px;
}
